# Created by https://www.toptal.com/developers/gitignore/api/linux
# Edit at https://www.toptal.com/developers/gitignore?templates=linux

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# End of https://www.toptal.com/developers/gitignore/api/linux

# Commercial Content
DOOM.WAD
DOOM2.WAD
TNT.WAD
PLUTONIA.WAD

VIRGIL.WAD
MINOS.WAD
NESSUS.WAD
GERYON.WAD
VESPERAS.WAD

MANOR.WAD
TTRAP.WAD

BLACKTWR.WAD
BLOODSEA.WAD
MEPHISTO.WAD
TEETH.WAD

SUBSPACE.WAD
COMBINE.WAD
FISTULA.WAD
SUBTERRA.WAD
CATWALK.WAD
GARRISON.WAD

PARADOX.WAD
ATTACK.WAD
CANYON.WAD

# SLADE3
*.bak

# Masterpack build
master.tar
master.wad
master*.wad
